---
---
@import "{{ site.theme }}";

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

section {
  width: calc(100% - 300px); 
  float: right;
  padding-left: 40px;
}

header {
  width: 250px;
}